.card {
  position: relative;
  max-width: 413px;
}

.card__delete-button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: rgba(0, 0, 0, .5);
  background-image: url(../images/trashcan.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 1;
  background-color: red;
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__title {
  max-width: 353px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__content {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.card__like-button {
  background-image: url(../images/Heart.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  padding: 0;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  opacity: 1;
  background-image: url(../images/Heart-filled.svg);
}

.card__like-button_active:hover {
  filter: brightness(0.85);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
  }
}
