.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__title {
  max-width: 353px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__content {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.card__like-button {
  background-image: url(../images/Heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
