.cards {
  padding-top: 20px;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(autofit, 288px);
  }
}
