.modal {
  visibility: hidden;
  opacity: 0;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity 0.3s ease,
    visibility 0s linear 0.3s;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.3s ease,
    visibility 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url("../images/Close\ Icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border: #fff;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #212121b2;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 12px;
  border-radius: 6px;
  border: 2px solid #21212166;
  background-color: #fff;
  font-size: 20px;
  outline: none;
  font-weight: 500;
  line-height: 100%;
}

.modal__submit-btn {
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 6px;
  max-width: 156px;
  height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.modal__input::placeholder {
  color: #2121214d;
}
