.modal {
  visibility: hidden;
  opacity: 0;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  transition:
    opacity 0.3s ease,
    visibility 0s linear 0.3s;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal__content {
  position: relative;
}

.modal__caption {
  margin: 0;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  position: absolute;
  background-color: #212121;
  border-radius: 8px;
  left: 0;
  top: calc(100% + 10px);
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  max-height: calc(90vh - 120px);
  width: auto;
  height: auto;
  display: block;
  border-radius: 8px;
  object-fit: contain;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.3s ease,
    visibility 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  border: none;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url("../images/Close-Icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.modal__close-btn:hover {
  cursor: pointer;
  background-color: transparent;
  background-image: url(../images/Close-hover.svg);
}

.modal__close-btn_type_preview {
  background-image: url("../images/Close-icon-light.svg");
  top: 0px;
  right: -40px;
}

.modal__close-btn_type_preview:hover {
  background-image: url("../images/Close-hover-light.svg");
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #212121b2;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 12px;
  border-radius: 6px;
  border: 2px solid #21212166;
  background-color: #fff;
  font-size: 20px;
  outline: none;
  font-weight: 500;
  line-height: 100%;
}

.modal__submit-btn {
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  border-radius: 8px;
  max-width: 156px;
  height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.modal__submit-btn:hover {
  background-color: #404040;
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
}

@media (max-width: 627px) {
  .modal__image {
    max-width: 290px;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__close-btn_type_preview {
    position: absolute;
    top: -40px;
    right: 0px;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .modal__close-btn {
    top: -30px;
    right: 5px;
    width: 32px;
    height: 32px;
  }

  .modal__submit-btn {
    max-width: 100%;
  }
}
