.page {
  background-color: #fcf5e5;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
