.page {
  background-color: #fcf5e5;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
