.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-width: 420px;
}

.profile__edit-btn {
  display: inline-flex;
  flex-direction: row-reverse;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-top: auto;
  display: flex;
  gap: 8px;
  opacity: 0.7;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  width: 157px;
  height: 56px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  align-self: end;
  font-size: 18px;
  text-align: center;
  line-height: 1;
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding: 0;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

.NewPostButton {
  width: 14px;
  height: 14px;
}

@media screen and (max-width: 627px) {
  .profile {
    display: flex;
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 268px;
  }

  .profile__description {
    margin: 0 0 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 268px;
  }

  .profile__column {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    display: flex;
    justify-content: center;
  }

  .profile__add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 288px;
    gap: 10px;
    width: 100%;
  }
}
